@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

section.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
}

section.container div.inner-container div.gameplay div#title {
    font-weight: bold;
}

section.container div.inner-container div.gameplay div.gamebody input[type=number] {
    height: 1.5rem;
    width: 14.5rem;
}

section.container div.inner-container div.gameplay div.gamebody button {
    height: 2rem;
    width: 4rem;
    border: none;
    border-radius: 0.4rem;
    color: white;
}

section.container div.inner-container div.gameplay div.gamebody button:hover {
    cursor: pointer;
}

section.container div.inner-container div.gameplay div.gamebody button#nextgame {
    display: none;
    width: 6rem;
}

.green {
    color: green;
}

.red {
    color: red;
}

.btn-green {
    background: green;
}

.btn-red {
    background: rgb(187, 21, 21);
}

.box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 30px;
    border-radius: 20px;
    width: 15.7rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}
