* {
    font-family: "Inter", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #f90505, #d32a28, #ab3938, #7f4241, #4f4444);
    background-repeat: no-repeat;
}

section.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section.container div.inner-container {
    background: transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

section.container div.inner-container div.gameplay div#title {
    font-weight: bold;
    font-size: 11pt;
}

section.container div.inner-container div.gameplay div.gamebody input[type=number] {
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    background: rgb(205, 205, 205);
    padding: 0 8px;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 12pt;
    text-align: center;
}

section.container div.inner-container div.gameplay div.gamebody .btn-group {
    display: flex;
    justify-content: space-between;
}

section.container div.inner-container div.gameplay div.gamebody button {
    height: 2rem;
    width: 7rem;
    border: none;
    border-radius: 0.4rem;
}

section.container div.inner-container div.gameplay div.gamebody button:hover {
    cursor: pointer;
}

section.container div.inner-container div.gameplay div.gamebody button#nextgame {
    display: none;
}

.total-matches {
    margin-top: 10px;
}

.score {
    margin-bottom: 10px;
}

.btn-green {
    color: #04bf04;
    font-weight: bold;
    border: 2px solid #04bf04!important;
}

.btn-red {
    color: #d32a28;
    font-weight: bold;
    border: 2px solid #d32a28!important;
}

.btn-red:hover {
    color: white;
    border: none!important;
    background: #d32a28;
}

.btn-green:hover {
    color: white;
    border: none!important;
    background: #04bf04;
}

.box {
    padding: 20px 30px;
    width: 15.7rem;
}

.box,
.menu-box {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border-radius: 10px;
    background: #ffffff;
}

.menu-box {
    padding: 10px;
    font-size: 8pt;
}

.menu-box div.menu-group .title {
    text-align: left;
}

.menu-box div.menu-group > div.level-choose {
    background: #d5d5d5;
    padding: 10px 5px;
    border-radius: 10px;
    margin: 5px 0;
    text-align: center;
}

.menu-box div.menu-group > div.level-choose.active {
    border: 1px solid #d32a28;
}

.menu-box div.menu-group > div.level-choose:hover {
    cursor: pointer;
    background: #e6e6e6;
}

#condition {
    padding: 10px 5px;
    border-radius: 8px;
    color: white;
    font-size: 11pt;
}

#condition.error {
    background: #c84d4a;
}

#condition.success {
    background: #04bf04;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

@media screen and (max-width: 408px) {
    section.container div.inner-container {
        gap: 5px;
    }

    .total-matches {
        margin-top: 5px;
    }

    .score {
        margin-bottom: 5px;
    }

    .box {
        padding: 20px 10px;
    }
}
